doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index_style.css')

  body
    div(class='welcome-image')
    div(class='welcome')
      h1 THE COWBOY SHOW 

    div(class="information")
      div(class='information-content')
        div(class='content-block')
          br
          h2 MEET THE CREATOR
          p 
            | My name is Angelo Saez and I am 
            | one of the most creative computer science students you will meet.
            | I am passionate for making art. I love to program, create art, 
            | make music, come up with stories, and find ways to combine 
            | all four of those. One of my favorite ways to combine all of 
            | those is with game development, but this time... it's a website!
          br

        div(class='content-block')
          br
          h2 WHAT IS THIS?
          p 
            | This is my portfolio site where my numerous projects will go. 
            | Since I make projects in a ton of different mediums, a custom 
            | website was the most logical way to present them in one place.
          br
          p And everyone has a portfolio site. But I'm not everyone.
          br
          p 
            | So my portfolio site will host countless hidden secrets to a 
            | fictional TV show that I decided to call The Cowboy Show, where 
            | the only way to find out about this show would be to dive into 
            | the artistic overgrowth of my portfolio.
          br
        div(class='view-portfolio')
          a(href='/gallery', class="button") VIEW GALLERY
        button.view-portfolio(href='/gallery') VIEW GALLERY
        br
      br



