doctype html
html
  head
    title The Cowboy Show
    link(rel='stylesheet', href='/stylesheets/index_style.css')
  body
    div(id='welcome')
      h2 MEET THE CREATOR. ~
      p 
        | My name is Angelo Saez and I am a Computer Science student
        | graduating from Stevens Institute of Technology as a part of the class of 2024.
        | This is my personal website where I will stash my various projects 
        | and creative pursuits.
      br
      h2 WELL, SADDLE UP! ~
      br
      button.view-portfolio(id='bottom-button', onclick="location.href='/portfolio'") VIEW PORTFOLIO
      br
    img(id='portrait', src='../images/me.png')