doctype html
html
  head
    title= 'The Cowboy Show'
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    div(class='welcome-image')
    div(class='welcome')
      h1 THE COWBOY SHOW 

    div(class="information")
      div (class='information-contents')
        br
        p "Six seasons and a movie"
        br

        p The most creative computer science student you will meet.
        br

        p.
          I am passionate for making art. I love to program, make art,
          make music, come up with stories, and find ways to combine 
          all 4 of those. One of my favorite ways to combine all of 
          those is with game development, but this time... its a website!
        br

        p. 
          The Cowboy Show is a fictional TV show that I came up with that
          is one of the many secrets of this website. I wanted to fill this
          site with the various entries of my portfolio and hide secrets of
          the elusive Cowboy Show within each of these portfolio.
        br

        p.
          I wanted my portfolio site to be as creative and unique as I am.
          So I invite you to check out my portfolio and try to uncover the 
          secrets of... The Cowboy Show!
        br


