doctype html
html
  head
    title The Cowboy Show
    link(rel='stylesheet' href='/stylesheets/index_style.css')
  body
    #welcome
      h2 MEET THE CREATOR. ~
      p
        | My name is Angelo Saez and I am a Computer Science new grad.
        | I studied at Stevens Institute of Technology and earned my
        | Bachelor of Science in Spring 2025.
        | This is my website! Here, I stash my various projects
        | and creative pursuits.
      br
      h2 WELL, SADDLE UP! ~
      br
      button#bottom-button.view-portfolio(onclick="location.href='/portfolio'") VIEW PORTFOLIO
      br
    img#portrait(src='../images/me.png')
