doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index_style.css')

  body
    section 
      nav
        div(id='tab-welcome-back')
          div(id='tab-welcome-front') WELCOME
      nav
        div(id='tab-portfolio-front') PORTFOLIO
      article 
        div(id='article-back')
          div(id='article-front')
            div(id='mural-container')
              div(id='mural')
            div(id='folder-caption')
              h1 MEET ANGELO SAEZ
              p hello everyone I deleted my backup but thats okay. I only lost the website content but otherwise my plan is to completely rebuild the look.



