doctype html
html
  head
    title= 'The Cowboy Show'
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    div(class='welcome-image')
    div(class='welcome')
      h1 THE COWBOY SHOW 

    div(class="information")
      div(class='information-content')
        br
        div(class='content-block')
          br
          h2 MEET THE CREATOR
          p 
            | My name is Angelo Saez and I am 
            | one of the most creative computer science student you will meet.
            | I am passionate for making art. I love to program, make art, 
            | make music, come up with stories, and find ways to combine 
            | all 4 of those. One of my favorite ways to combine all of 
            | those is with game development, but this time... its a website!

        div(class='content-block')
          br
          h2 WHAT IS THIS?
          p 
            | This is my portfolio site where my numerous projects will go. 
            | Since I make projects in a ton of different mediums, a custom 
            | website was the most logical way to present them in one place.
          br
          p But everyone has a portfolio site. And I'm not everyone.
          br
          p 
            | So my portfolio site will host countless hidden secrets to a 
            | fictional TV show that I decided to call The Cowboy Show. Where 
            | the only way to find out about this show would be to dive into 
            | the artistic overgrowth that will be my portfolio.
          br
        div(class='button-block')
          br
          h2 VIEW PORTFOLIO
          button.view-portfolio
          br



