doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index_style.css')

  body
    div(class='folder-header')
      div(class='tabs')
        section 
          nav
            div(id='tab-welcome-back')
              div(id='tab-welcome-front') WELCOME
          nav
            div(id='tab-portfolio-front') PORTFOLIO
    div(class='folder-body')
      div(class='mural')
      div(class='main-caption')



