doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index_style.css')

  body
    div(id='folder-header')
      div(class='tabs')
        section 
          nav
            div(id='tab-welcome-back')
              div(id='tab-welcome-front') WELCOME
          nav
            div(id='tab-portfolio-front') PORTFOLIO
    div(id='folder-body')
      div(id='mural')
      div(id='folder-caption')



