doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/portfolio_style.css')
  body
    section
      nav
        div(id='tab-welcome')
          h2(id='top-button', onclick="location.href='/'") [WELCOME]
      nav
        div(id='tab-portfolio-back')
          div(id='tab-portfolio-front')
            h2 [PORTFOLIO]
      article
        div(id='article-back')
          div(id='article-front')
            div(class='project-header')
              h1 iD Tech - Online Private Instructor
              div(class='project-body')
                p Summer job 2020
                p 
                  | Over the summer I taught programming in various 
                  | languages to students in a wide age range. Additionally, 
                  | I shadowed veteran instructors and sent parents detailed 
                  | reports every lesson.
                br
            div(class='project-header')
              h1 "Get the Mutant!" - Developer
              div(class='project-body')
                p Desktop Game
                p 
                  | SGDC Game Jam Winner! This was a stationary "run" and gun arena 
                  | shooter. This game boasted a quirky art style with two-frame animation 
                  | and microsoft-paint-inspired artwork. 32/48 hours of the contest I 
                  | publicly streamed live on YouTube.
                br
            div(class='project-header')
              h1 "Song Generator" - Developer
              div(class='project-body')
                p Desktop Application
                p 
                  | Procedural content generation technology in videogames inspired me 
                  | to try to apply that to music generation. So I studied up on music theory 
                  | and learned who the music professors where so I could email them any
                  | questions. I presented the surprisingly good result to my followers on 
                  | Instagram by prompting them to enter any number where I would then 
                  | showcase the song that the computer would generate using it as a seed.
                br
            div(class='project-header')
              h1 "Angelo's Palette Maker" - Developer
              div(class='project-body')
                p Desktop Application
                p 
                  | After being tired of creating videogame palettes by hand, the
                  | programmer in me created an application to create them that would 
                  | appease any fellow perfectionist. This assists users in creating 
                  | limited color palettes. Perfect for pixel art... or this website!
                br
            div(class='project-header')
              h1 "Shelter Host Demo" - Developer
              div(class='project-body')
                p Networking demo
                p 
                  | The final winter break project of 2020 was an C++ application that 
                  | used OpenGL and Enet to create a local multiplayer experience. Here, I 
                  | learned about parallel programming and about serializing my own packets.
                br
            div(class='project-header')
              h1 "Adventure Game Map Generator" - Developer
              div(class='project-body')
                p Desktop Application
                p 
                  | A short project over winter break where I studied  the original 
                  | "Legend of Zelda"s map in order to create a procedure that
                  | could randomly generate similar maps.
                br
            div(class='project-header')
              h1 "Recursive Platformer" - Developer
              div(class='project-body')
                p Desktop Game
                p 
                  | A short project over winter break where I explore the  
                  | concept of recursion by creating a platformer where 
                  | the player will be put into levels within levels and will 
                  | need to solve puzzles around that mechanic.
                br
            div(class='project-header')
              h1 "Glass Tombs" - Developer
              div(class='project-body')
                p Desktop Game
                p 
                  | This ambitious month long project was my entry to the
                  | Github Game Off 2020 game jam. This was a top-down 
                  | "Zelda" inspired game with a profound story. I was the
                  | sole programmer but I led a cast of my peers to help with
                  | the story and the music. In the end, my game netted 15 minutes 
                  | of story and had a 45 minute dynamic soundtrack. This project 
                  | was extremely demanding in both time management and 
                  | artistic ability.
                br
            div(class='project-header')
              h1 "Hold on Honey" - Developer
              div(class='project-body')
                p iOS game
                p 
                  | My first Stevens Game Development Club gamejam that I had 
                  | participated in. This one in particular took place over the
                  | course of a week and I enlisted the help of a peer for the music.
                  | At the end of the week I submitted the completed game to the Appstore.
                br
            div(class='project-header')
              h1 "Health Boost" - Developer
              div(class='project-body')
                p iOS game
                p 
                  | Over the summer I had a four day weekend from this summer 
                  | program I was in so I challenged myself to make my first 
                  | ever swift application in that time. By the end of the four 
                  | days, I had finished a procedurally generated endless runner 
                  | arcade platformer. First Appstore release!
                br