doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/portfolio_style.css')
  body
    section
      nav(id='tab-welcome')
        h1(id='top-button', onclick="location.href='/'") [WELCOME]
      nav(id='tab-portfolio-back')
        div(id='tab-portfolio-front')
          h1 [PORTFOLIO]
    div(id='backdrop')
      div(id='tab-buffer')
      /////////////////////////////////////////////////////////////////
      // QUICK LINKS
      h6(id='quick-links-section-title') ~ QUICK LINKS:
        div(id='links')
          a(href='https://drive.google.com/file/d/1ULWQN6HXkZbg4MDqPZAsHp1cUzu60znb/view?usp=sharing') Resume
          a(href='https://github.com/AngeloSaez?tab=repositories/') Github
          a(href='https://www.linkedin.com/in/angelo-saez-9ba03b206/') LinkedIn
          a(href='https://jello3899.itch.io/') Itch.io
          a(href='https://www.instagram.com/tonythecowboy/') Art Instagram
          br
      /////////////////////////////////////////////////////////////////
      // TIMELINE
      h6(id='timeline-section-title') ~ TIMELINE:
      div(class='project')
        h2 iD Tech
        h3 ~ JOB
        div(class='description-header')
          h4 ROLE:  ONLINE PRIVATE INSTRUCTOR
          div(class='description-content')
            h4 DESCRIPTION:
            p
              | Over the summer I taught various programming
              | languages to students in a wide age range. 
              | Additionally, I shadowed veteran instructors
              | and sent parents detailed reports after every lesson.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Programming, Lesson planning, Public speaking
          h5 Summer 2021
          
      div(class='project')
        h2 Get the Mutant!
        h3 ~ JAM GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content')
            h4 DESCRIPTION:
            p 
              | SGDC Game Jam Winner! This was a stationary 
              | "run and gun" arena shooter. This game boasted
              | a quirky art style with two-frame animation and 
              | Microsoft-Paint-inspired artwork. 32/48 hours 
              | of the contest I publicly streamed live on YouTube.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Programming, Time management, Stage presence
          h5 Spring 2021

      div(class='project')
        h2 Song Generator
        h3 ~ APP
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | Procedural content generation technology in 
              | video games inspired me to apply music generation. 
              | I studied up on music theory and got in contact 
              | with the music professors so I could email them my 
              | questions. I presented the surprisingly good result 
              | to my followers on Instagram by prompting them to 
              | enter any number. I would then showcase the song 
              | that the computer would generate using it as a seed.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Procedural content generation, Music theory, Research
          h5 Spring 2021
      
      div(class='project')
        h2 Angelo's Palette Maker
        h3 ~ APP
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | After being tired of creating video game palettes by 
              | hand, the programmer in me wanted to create an 
              | application that would appease any fellow perfectionist. 
              | This assists users in creating limited color palettes. 
              | Perfect for pixel art... or this website!
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Java, File system operations, Color theory
          h5 Spring 2021

      div(class='project')
        h2 Shelter Host
        h3 ~ DEMO
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | The final winter break project of 2020 was an C++ application that 
              | used OpenGL and Enet to create a local multiplayer experience. Here, I 
              | learned about parallel programming and about serializing my own packets.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Network programming, OpenGL, C++
          h5 Winter 2020

      div(class='project')
        h2 Adventure Game Map Generator
        h3 ~ DEMO
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | A short project over winter break where I studied the original 
              | "Legend of Zelda" map in order to create a procedure that
              | could randomly generate similar maps. I think it's fun to see 
              | these new maps because the default one provides hours of gameplay, 
              | so the ability to generate new ones at a click of a button is mindblowing.
            h4 MAIN SKILLS USED:
          div(class='description-content') 
            p Procedural content generation, Level design, Java
          h5 Winter 2020

      div(class='project')
        h2 Recursive platformer
        h3 ~ GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | A short project over winter break where I explored the  
              | concept of recursion by creating a platformer where 
              | the player will be put into levels within levels and will 
              | need to solve puzzles around that mechanic.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Recursion concepts, Level design, Puzzle design
          h5 Winter 2020

      div(class='project')
        h2 Glass tombs
        h3 ~ JAM GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER, LEAD
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | This ambitious month-long project was my entry
              | to the Github Game Off 2020 game jam. This was a
              | top-down "Zelda" inspired game with a profound story. 
              | I was the sole programmer, but I led a cast of my 
              | peers to help with the story and the music. In the end, 
              | my game netted 15 minutes of story and 45 minutes of 
              | dynamic soundtrack.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Project planning, Leadership, Art / Music
          h5 Fall 2020

      div(class='project')
        h2 Hold on Honey
        h3 ~ iOS GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | My first Stevens Game Development Club gamejam that I  
              | participated in. This one in particular took place over the
              | course of a week and I enlisted the help of a peer for the music.
              | At the end of the week, I submitted the completed game to the App Store.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Swift, Game design, Time management
          h5 Fall 2020

      div(class='project')
        h2 Health Boost
        h3 ~ iOS GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | Over the summer I had a four day weekend from this summer 
              | program I was in so I challenged myself to make my first 
              | ever Swift application within that time. By the end of the four 
              | days, I had finished a procedurally generated endless runner 
              | arcade platformer. First App Store release!
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Swift, Procedural content generation, Research
          h5 Summer 2020

      div(class='project')
        h2 Matchup Mixup
        h3 ~ JAM GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | Being a big fan of Mark Brown's Youtube channel, 
              | Game Maker's Toolkit, I just had to join his summer 
              | game jam. The theme for this one was "Out of Control." 
              | I wanted to lean away from my comfort genre of a 
              | top-down game, so I made a platforming fighting game. 
              | The main mechanic of the game is that before each fight 
              | you would be presented with your opponents stats and 
              | prompted to design your fighters stats. This gave the 
              | player lots of control, but I then took that control 
              | away by flipping a coin on whether or not the player 
              | would swap stats with their opponent. This led to a lot 
              | of interesting interactions and it was fun watching 
              | players learn that making their character really strong 
              | might not always be the best idea... but sometimes it could!
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Game design, Time management, Java
          h5 Summer 2020

      div(class='project')
        h2 Sabotage Bodyguard
        h3 ~ JAM GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | The theme of this Ludum Dare game jam was 
              | "Keep It Alive". I stumbled on the idea of a 
              | bodyguard who is hired to protect people but 
              | will intentionally go easy on the monsters to 
              | justify a greater pay. What came out was not 
              | too different and was a challenging shooter 
              | with some funny moments.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Enemy design, Story, Java
          h5 Summer 2020

      div(class='project')
        h2 Paint Jam
        h3 ~ JAM FAILURE
        div(class='description-header')
          h4 ROLE:  LEAD MISTAKE MAKER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | Biggest learning experience... I spent the first
              |  5 hours trying to implement a pretty zoom feature 
              | into this game with a map. It ended up being a big 
              | waste of the first day—despite my efforts, I couldn't 
              | finish by the end of this jam's time limit. However, 
              | I always talk about my experience with this jam. It's 
              | very important, as it made me learn to prioritize and
              | it reminded me that jams can be unforgiving.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Clearly not time management this time!
          h5 Summer 2020

      div(class='project')
        h2 Happy Valley
        h3 ~ JAM GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | Coming off of the momentum of my first game release 
              | I wanted to continue pushing myself, so I started 
              | to enter game jams like crazy. This was the first of 
              | that lot where I made this game reminicent of a classic 
              | fetch-quest horror game such as "Slenderman." Games 
              | like "Super Mario Bros. 2" were weirdly good at making 
              | sprites that scared younger me. For this game, I tried 
              | to tap into those same vibes.
            h4 MAIN SKILLS USED:
          div(class='description-content')
            p Exploring the horror genre, Java, Game design
          h5 Summer 2020

      div(class='project')
        h2 Lava Race
        h3 ~ GAME
        div(class='description-header')
          h4 ROLE:  SOLE DEVELOPER
          div(class='description-content') 
            h4 DESCRIPTION:
            p 
              | This game was my first finished project. It came 
              | at a weird point in my life. I started working on 
              | this game partway through my senior year of high 
              | school and I would find small segments of time for 
              | me to work on programming it every day. This meant 
              | I had to be really efficient with my time and any 
              | free period throughout the day was a complete gift. 
              | While I would be hanging out with friends or doing 
              | whatever else a high school senior might be doing, 
              | I was wishing I could leave it all behind and just 
              | work on my game. When March of 2020 came around, I 
              | faced a lot of anxiety about the virus but it weirdly 
              | opened up the opportunity for me to be a complete 
              | hermit and work on my passions. During this time I 
              | remember thinking: "Okay, time to hit the ground 
              | running." And that I did. I truly did hit the ground 
              | running from that point on.
          div(class='description-content')
            h4 MAIN SKILLS USED:
            br
            p Procedural content generation, Java, Game design
          div(class='description-content')
            h4 LINK:
            a(class='timeline-link', href='https://jello3899.itch.io/lava-race') Game's page
          h5 Spring 2020
