doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/portfolio_style.css')
  body
    section
      nav(id='tab-welcome')
        h1(id='top-button', onclick="location.href='/'") [WELCOME]
      nav(id='tab-portfolio-back')
        div(id='tab-portfolio-front')
          h1 [PORTFOLIO]
      article(id='article-front')
        div(class='project')
          h2 iD Tech
          h3 Summer 2021
          div(class='description')
            p
              | Over the summer I taught programming in various 
              | languages to students in a wide age range. Additionally, 
              | I shadowed veteran instructors and sent parents detailed 
              | reports every lesson.

        div(class='project')
          h2 Get the Mutant!
          h3 Spring 2021
          div(class='description')
            p 
              | SGDC Game Jam Winner! This was a stationary "run" and gun arena 
              | shooter. This game boasted a quirky art style with two-frame animation 
              | and microsoft-paint-inspired artwork. 32/48 hours of the contest I 
              | publicly streamed live on YouTube.

        div(class='project')
          h2 Song Generator - Developer
          h3 Spring 2021
          div(class='description')
            p 
              | Procedural content generation technology in videogames inspired me 
              | to try to apply that to music generation. So I studied up on music theory 
              | and learned who the music professors where so I could email them any
              | questions. I presented the surprisingly good result to my followers on 
              | Instagram by prompting them to enter any number where I would then 
              | showcase the song that the computer would generate using it as a seed.