doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/portfolio_style.css')
  body
    section
      nav
        div(id='tab-welcome')
          h2(id='top-button', onclick="location.href='/index'") [WELCOME]
      nav
        div(id='tab-portfolio-back')
          div(id='tab-portfolio-front')
            h2 [PORTFOLIO]
      article
        div(id='article-back')
          div(id='article-front')
            div(class='project')
              div(id='test1')
                h1 Test Project 1
                p hello everyone 1
                br
            div(class='project')
              div(id='test2')
                h1 Test Project 2
                p hello everyone 2
                br

