body {
  /* RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  /* CUSTOM */
  padding: 15px;
  background-color: #eec889;
}

/* FOLDER HEADER */

nav {
  box-sizing: border-box;
  float:left;
  width: 50%;
  font-family: 'Arvo';
  text-align: center;
  background-color: #eec889;
}
 
#tab-welcome-back {
  background-color: #a37124;
  border-radius: 25px 0px 0px 0px;
}
 
#tab-welcome-front {
  border-radius: 25px 25px 0px 0px;
  color: #a37124;
  background-color: #593300;
  padding: 20px;
}

#tab-portfolio-front {
  border-radius: 0px 25px 0px 0px;
  color: #593300;
  background-color: #a37124;
  padding: 20px;
}

/* FOLDER BODY */

article {
  padding: 10px;
  background-color: #593300;
}

#mural {
  background-image: url("../images/bg.png");
  width: 100%;
  height: 100px;
}

/* latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/suezone/v5/taiJGmd_EZ6rqscQgOFOmouC-50x.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/arvo/v14/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}