body {
  /* RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  /* CUSTOM */
  padding: 10vw;
  padding-top: 30px;
  background-color: #593300;
}

/* FOLDER HEADER */

nav {
  box-sizing: border-box;
  float:left;
  width: 50%;
  text-align: center;
}
 
#tab-welcome {
  background-color: #593300;
  border-radius: 25px 0px 0px 0px;
  color: #a37124;
  padding: 1px;
}

#tab-portfolio-front {
  background-color: #a37124;
  border-radius: 25px 25px 25px 25px;
  color: #593300;
  padding: 1px;
}

/* FOLDER BODY */
#article-front {
  background-color: #a37124;
  border-radius: 10px 0px 10px 10px;
  float: left;
  padding: 0vw 5vw 0vw 5vw;
}

/* PROJECTS */

.project {
  background-color: #d3a27d;
  border-color: #d3a27d;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  float: left;
  margin: 4vh 10vw;
}

.sc-project {
  background-color: #c8bc6e;
  border-color: #c8bc6e;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  float: left;
  margin: 4vh 10vw;
}

.description-header {
  background-color: #593300;
  border-top-color: #d3a27d;
  border-radius: 10px 10px 10px 10px;
  border-top-style: solid;
  float: left;
  margin: 0;
  padding: 16px;
  padding-top: 0;
}

.sc-description-header {
  background-color: #593300;
  border-top-color: #c8bc6e;
  border-radius: 10px 10px 10px 10px;
  border-top-style: solid;
  float: left;
  margin: 0;
  padding: 16px;
  padding-top: 0;
}

.description-content {
  float: left;
}

.sc-description-content {
  float: left;
}

.sc-color1 {
  color: #c8bc6e
}

.sc-color2 {
  color: #7e6332
}

.sc-color3 {
  color: #a3a263
}

/* tab */
h1 {
  font-family: 'Suez One';
  font-size: 5vw;
  line-height: 0;
  padding: 0;
}

/* project title */
h2 {
  color: #593300;
  float: left;
  font-family: 'Suez One';
  font-size: 30px;
  margin: 0;
  padding: 10px 25px;
}

/* category */
h3 {
  color: #97633e;
  float: right;
  font-family: 'Suez One';
  font-size: 30px;
  margin: 0;
  padding: 10px 25px;
}

/* subtitle */
h4 {
  color: #97633e;
  float: left;
  font-family: 'Arvo';
  font-size: 20px;
  margin: 0;
  padding-top: 16px;
}

/* season */
h5 {
  color: #c87d63;
  float: right;
  font-family: 'Arvo';
  font-size: 26px;
  margin: 0;
}

h6 {
  width: 100%;
  float: left;
  font-family: 'Suez One';
  font-size: 3vw;
  margin: 0;
  margin-left: 10vw;
  margin-top: 30px;
}

#current-quote {
  margin-left: 12vw;
  font-size: 1.5vw;
}

/* description paragraph */
p {
  color: #d3a27d;
  float: left;
  font-family: 'Open Sans';
  font-size: 20px;
  margin: 0;
}

#curr {
  color: #eea263
}

#quik {
  color: #c8a289
}

#show {
  color: #a3a263
}

#time {
  color: #c87d63
}

/* latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/suezone/v5/taiJGmd_EZ6rqscQgOFOmouC-50x.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/arvo/v14/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}