body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.welcome-image {
  background-image: linear-gradient(to top, rgba(89, 51, 0, 1.0), rgba(0, 0, 0, 0.0) 4%), url('/images/bg.png');
  background-size: cover;
  width: 100%;
  height: 42vw;
  display: block;
  z-index: -1;
}

.welcome {
  background-color: #593300; 
  border-top: 4px solid #e2c86e;
  color: #e2c86e;
  text-align:center;
}

.information {
  background-color: #593300;
  background-image: linear-gradient(to top, rgba(126, 99, 50, 1.0), rgba(0, 0, 0, 0.0) 100%);
}

h1 {
  display: inline;
  font-size: 7vw;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  display: inline;
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #c8bc6e;
  font-family: Arial, Helvetica, sans-serif;
}