.welcome {
  background-color: #593300;
  color: #32bd26;
}

h1 {
  color: #593300;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

h2 {
  color: #593300;
  font-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}