body {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.welcome {
  background-color: #593300; 
  color: #c8bc6e;
  padding-top: 4%;
  padding-bottom: 4%;
}

.welcome-image {
  background-repeat: no-repeat;
  display: flex;
  padding-top: 16%;
  padding-bottom: 16%;
}


.information {
  background-color: #593300;
}

h1 {
  color: #593300;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

h2 {
  color: #593300;
  font-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

p {
  color: #eec889;
  font-family: Arial, Helvetica, sans-serif;
}